<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>{{title}} - Langify</title>
	<base href="{{base}}" />
	<link type="text/css" href="{{css}}" rel="stylesheet" />
</head>
<body>
<header>
	<div class="wrapper">
		<ul class="breadcrumb">
			{{#breadcrumb}}
				<li><a href="{{url}}">{{title}}</a></li>
			{{/breadcrumb}}
		</ul>
		<div class="language_select">
			<form action="" method="get">
				<select name="lang">
					{{#translations}}
						<option value="{{value}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
					{{/translations}}
				</select>
			</form>
		</div>
	</div>
</header>
<div class="wrapper">
	<h1>Langify - {{title}}</h1>
	
	<div class="content">
		{{#sidebar}}
			<div class="left">
				{{>sidebar}}
			</div>
			<div class="right">
		{{/sidebar}}
		
		{{>content}}
		
		{{#sidebar}}
			</div>
		{{/sidebar}}
	</div>
	
	<a href="http://oscarhinton.com" class="powerdby">Powered by Langify {{version}}</a>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{{js}}"></script>
</body>
</html>