<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>{{title}} - Langify</title>
	<base href="{{base}}" />
	<link type="text/css" href="tmedia/css/main.css" rel="stylesheet" />
</head>
<body>
<header>
	<div class="wrapper">
		<div class="language_select">
			<form action="" method="get">
				<select name="lang">
					{{#translations}}
						<option value="{{value}}" {{#selected}}selected="selected"{{/selected}}>{{name}}</option>
					{{/translations}}
				</select>
			</form>
		</div>
	</div>
</header>
<div class="wrapper">
	<h1>Langify - {{title}}</h1>
	{{>content}}
	
	<a href="http://oscarhinton.com" class="powerdby">Powered by Langify {{version}}</a>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script type="text/javascript" src="tmedia/js/main.js"></script>
</body>
</html>