<p>Select a file you would want to export.</p>

<form method="post">
	<div>
		<label for="language">Language:</label>
		<select name="language">
			{{#languages}}
				<option value="{{id}}">{{name}}</option>
			{{/languages}}
		</select>
	</div>
	<input type="submit" value="Export" />
</form>