<form method="post">
	<fieldset>
		<div>
			<label for="username">Username:</label>
			<input type="text" name="username" />
		</div>
		
		<div>
			<label for="password">Password:</label>
			<input type="password" name="password" />
		</div>
		
		<div>
			<input type="submit" value="Login" />
		</div>
	</fieldset>
</form>